<div class="hero-unit">
	<h1>Welcome to Izad Far's Application</h1>
	<p>
		You've found the home page for the 
		<%= link_to "Learning Rails", "http://izadfar.com"%>
		Application.
	</p>

	<p>
		<%= link_to "Sign Up NOW!", "#", class: "btn btn-primary btn-large" %>
	</p>

</div>
